---
---
// --------------------------------------------------------------
// Node components
// --------------------------------------------------------------
@import 'vendor/include-media/dist/include-media';
@import 'vendor/include-media-columns/include-media-columns';
@import 'vendor/include-media-export/dist/include-media-export';

@import "uno";
@import "tables";
@import "monokai";
@import "comments";

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

.post img{
  width: 100%;
}

blockquote {
    width: 100%;
    margin-left: -50px;
    padding: 36px 50px;
    position: relative;
    background: #c2c2c2;
    margin-bottom: 28px;
    &::before, &::after {
      top: 0;
      bottom: 0;
      width: 25px;
      content: '';
      position: absolute;
      background: #c2c2c2;
      box-shadow: 0 2px rgba(0,0,0,.25);
    }
    &::before {
      right: 100%;
    }
    &::after {
      left: 100%;
    }
    p {
      margin: 0;
      font-size: 1.2em;
	  font-weight: bold;
      &::before {
        top: 0;
        left: 16px;
        color: #fff;
        content: '“';
        font-size: 3em;
        position: absolute;
        text-shadow: -3px 0 #c2c2c2;
      }
      &::after {
        right: 16px;
        color: #fff;
        content: '”';
        bottom: -32px;
        font-size: 3em;
        position: absolute;
        text-shadow: 3px 0 #c2c2c2;
      }
    }
  }
  
