{% capture post_slug %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}{% endcapture %}

<section class="comments">
	<div class="constrain--body">
		<div class="comments__existing js-comments" {% if site.data.comments[post_slug] == null %}aria-hidden="true"{% endif %}>
			{% if site.data.comments[post_slug] %}
			<h2 class="comments__heading heading-2">Kommentare</h2>
				{% assign comments = site.data.comments[post_slug] | sort %}
				
				{% for comment in comments %}
					{% assign email = comment[1].email %}
					{% assign name = comment[1].name %}
					{% assign url = comment[1].url %}
					{% assign date = comment[1].date %}
					{% assign message = comment[1].message %}

					{% include post-comment.html index=forloop.index email=email name=name url=url date=date message=message %}
				{% endfor %}
			{% endif %}
		</div>

		<h2 class="comments__heading heading-2">Dein Kommentar</h2>
		<form id="post-new-comment" class="form" action="{{ site.staticmanUrl }}" method="post">
			<input type="hidden" name="options[slug]" value="{{ post_slug }}">
			<input type="hidden" name="options[parent]" value="{{ post_slug }}">
			<input type="hidden" name="options[origin]" value="{{ site.url }}{{ page.url }}">
			<input type="hidden" name="options[redirect]" value="{{ site.url }}{{ page.url }}">
			
			<input type="text" name="company" class="text-field" style="display: none">  
			<input class="form__field text-field" type="text" name="fields[name]" placeholder="Name" required/>  
			
			<input class="form__field text-field" type="email" name="fields[email]" placeholder="E-Mail Adresse (wird nicht veröffentlicht)" required/>
			<input class="form__field text-field" type="address" name="fields[address]" placeholder="Address (do not fill!)" style="display: none"/>  
			<textarea class="form__field text-field" rows="10" name="fields[message]" placeholder="Kommentar. Markdown wird akzeptiert." required></textarea>  
			<input id="form-subscribe" type="checkbox" name="options[subscribe]" value="email" class="checkbox"><label for="form-subscribe" class="form__field checkbox__label">Ich möchte über weitere Kommentare benachrichtigt werden</label>  
			<input class="cta" type="submit" value="Send" />  
		</form>
	</div>
</section>