---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time>
      {% if page.tags.size > 0 %}
      <span class="post-meta__tags">{% for tag in page.tags %}| <a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }} </a>{% endfor %}|</span>
      {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
	  <span><i class="fa fa-user-o"></i> <a href="/about/">{{ site.author.name }}</a> | <i class="fa fa-clock-o"></i> {{ page.duration }} Min.</span><br/><br/><br/>
  </header>

  <section class="post">
    {{ content }}
  </section>
  <p>Vielen Dank für Deine Zeit und viele Grüße,</br><a href="/about/">{{ site.author.name }}</a></br></br>
    PS: Ich würde mich über einen Komentar oder eine <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank"><i class="fa fa-envelope-square"></i> Email</a> sehr freuen.
  </p>
</article>
{% include comments.html %}
